<!--/*--><css><![CDATA[/**/
      /* CSS Based on stylesheet from: http://en.wikibooks.org/wiki/XForms/Dynamic_Labels */
 		@namespace xf url("http://www.w3.org/2002/xforms");
h1 {
    font-size:135%;
}

body  {
font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; 



	counter-reset: majorSection;      /* Create a chapter counter scope */
	counter-increment: majorSection;  /* Add 1 to majorSection */
	padding:0px;
	margin:0px;
	background-color: #FEF0C9;

}

.mainForm {
	padding-left:25px;
}

/*
	MAIN LAYOUT FOR THE TWO COLUMN STUFF IS HERE
*/

#majorsections > h2 {
	font-size:13pt;
}

#majorsections {
	background-color:#EEF3E2;
	padding:5px;
	padding-top:25px;
	width:180px;
	float:left;
	position:absolute;
	left:0px;
	top:0px;
	min-height:100%;
}

#majorsections li {
	margin-left:-10px;
}

#survey {
	padding:0px;
	padding-top: 20px;
	padding-bottom: 30px;
	max-width:50em;
	margin-left:10px;
}

#survey > h1 {
	border-bottom: 4px solid #FFFFF2;
	padding: 15px;
	margin:15px;

	
}

.group-label {text-align:left;font-weight:bold;font-size:12pt;}

.xforms-item {margin-left:20px;}


xf|control { /* border-bottom: 1px dashed red;*/ margin-bottom:1em; overflow: auto; padding-bottom:2px;}

xf|disabled  {
	display: block !important;
	opacity: .5;
	color: gray;
}

textarea {
	max-width: 60%;
	min-height:10em;
}

.xforms-disabled .value  {
	display: none !important;
}

.xforms-disabled .subquestion, .xforms-disabled .responses{
    display:none;
    visibility:hidden;
}
 
/* Makes the labels right aligned in a 200px wide column that floats to the left of the input controls. * /
xf|input  xf|label, xf|select  xf|label, xf|select1  xf|label, xf|textarea  xf|label {margin-right:20px; width:400px; float:left; border-bottom: 1px dotted black} */

xf|input  xf|label, xf|select  xf|label, xf|select1  xf|label, xf|textarea  xf|label {margin-right:20px; padding-right:50px; display:inline;}

/* Collapse question text and numbering to inline elements to put number and text on same line */
  .question .xforms-label, .question .questionNumber, .question .xforms-control {
	display:inline !important;
}

.questionText {
	margin-left:35px;display: block;
}
.questionText .words {
 font-weight: normal;
}

.questionText .words * , .questionText .questionText {
	font-weight: normal;
}

.question .value {display: inline;}

.question {display: block; padding-bottom: 15px;}
.question .responses {
    margin-left:40px;
}

.questionNumber {
	display:inline;
	font-weight:bold;
	float:left;
	text-align:right;
	width:20px;
}

.subquestion {
	padding-left: 20px;
}

.subquestion, .subquestion * {
	font-weight: normal !important;
}

.instrumentDescription h2, .statement h2, .questionNote h2 {
	font-size: 13pt;
	font-weight: bold !important;
	font-style: italic;
	padding-bottom:1px;
	margin-bottom: 1px;
	padding-top:5px;
	margin-top: 5px;
}

.instrumentDescription h1, .statement h1,  .questionNote h1 {
	font-size: 14pt;
	font-weight: bold !important;
	padding-bottom:1px;
	margin-bottom: 1px;
	padding-top:5px;
	margin-top: 5px;
}

.instrumentDescription, .statement, .questionNote {
	font-size: 85%;
	text-align:justify;
	border:5px solid white;
	background-color:#FEF8E8 !important;
	margin-right: 15px;
	margin-left: 0px;
	margin-bottom:2em;
	padding:15px;
}

.Instruction {
    margin:5px 25px;
    
    padding:3px;
	font-size: 85%;
	text-align:justify;
	border:3px solid white;
	background-color:#FEF8E8 !important;
    font-weight:300;
    display:block;
}

ul {
	margin: 15px;
	padding:1px;
}

.logo {
	display: block;
	margin-left: auto;
    margin-right: auto 
}

.wordsub {
	display:inline;
}

.words, .wordsub, .wordsub .value,   {
	display:inline;
}

.sectionTitle {
	font-weight:bold;
	font-size:130%;
}


.IncludesExcludes {
	border:5px solid white;
	background-color:#FEF8E8 !important;
	padding: 5px;
	margin-right: 15px;
	margin-left: 0px;
	text-align:left;
	width:40em;
	font-size: 85%;
}

.IncludesExcludes th {
	font-weight: bold !important;
	font-style: italic;
	padding-left:5px;
	width:50%
}

.IncludesExcludes ul {
	margin: 15px;
	padding:1px;
}

.IncludesExcludes * {
	margin: 1px;
	padding:1px;
}

ul, ol, li {
	padding-top: 2px !important;
	padding-bottom:2px !important;
}

ol.subQuestions {
     display:table;
     list-style-type:lower-alpha;
}
.subQuestions {
     counter-reset: subQ;
}

ol.subQuestions li {
    display:table-row;
}
.subQuestions .subQuestion:before {
    counter-increment: subQ;      /* Increment the section counter */
    content: counter(subQ, lower-alpha) ". "; /* Display the counter */
}

ol.subQuestions span.cell {
    display:table-cell;
    padding-left:10px;
}

/* Skip statement CSS*/

.skipStatement {
	padding-left:20px;
	font-weight:bold;
	font-size:90%;
}

.skipStatement:before {
    content:">> ";
}
.skipStatement a {
    color:darkblue;
    text-decoration:none;
}

.skipStatement a:hover {
    text-decoration:underline;
}

.skipRemark, .skipRemark * {
	display: inline !important;
}

xf|disabled .skipStatement {
	display: hidden !important;
	visibility: hidden !important;
}

xf|disabled .statement {
	display: none !important;
	visibility: hidden !important;
}

.numericRepsonse input {
    width: 50px;
}

td .responsePrefix, td .responseSuffix {
    display:none;
}

.codelistTable .xforms-item, .codelistTable th span {
    display:table-cell;
    border-left:1px solid gray;
    padding-left:5px;
    width:40px;
}

/*]]>*/<!--/*--></css><!--*/-->
